<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>This is a Partial View</h3>
        <p>My name is Prakash</p>
     
    </div>
</body>
</html>
